<h1>{{features}}</h1>
<html>
<body>
<h2>TehniÄne zahteve</h2>
<ul>
    <li>Podatkovna baza
        <ul>
            <li>MongoDB</li>
        </ul>
    </li>

    <li>Backend
        <ul>
            <li>NodeJs</li>
            <li>ExpressJs</li>
        </ul>
    </li>
</ul>
</body>
</html>